<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Films</title>
    <!-- See https://bootswatch.com/flatly/ -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<!-- For the Bootstrap Grid System, see https://getbootstrap.com/docs/5.2/layout/grid/ -->
<body>
<div class="container pt-5">
    <div class="row gx-5 gy-5">
        <div class="col-12">
            <div th:replace="fragments/header.html :: header"></div>
        </div>
        <div class="col-12">
            <table class="table table-bordered table-striped table-responsive-sm caption-top">
                <caption><strong th:text="${title}" class="h4">Films</strong></caption>
                <thead>
                <tr class="table-info">
                    <th>ID</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Language</th>
                    <th>Categories</th>
                    <th>Actors</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="film : ${films}">
                    <td th:text="${film.idOption.orElseThrow}">ID</td>
                    <td th:text="${film.title}">title</td>
                    <td th:text="${film.releaseYearOption.isPresent ? film.releaseYearOption.orElseThrow : ''}">releaseYear</td>
                    <td th:text="${film.language}">language</td>
                    <td th:text="${film.categories.![name]}">categories</td>
                    <td th:text="${film.actorNames}">actors</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>
</html>